.categori,
.comment {
  float: right;
}
.categori-list ul li a:hover {
  margin-left: 3px;
  color: red;
  transition: all .3s;
}
.tages,
.gallery {
  list-style: none;
  padding-left: 0;
}
.gallery li {
  display: inline-block;
  margin-bottom: 5px;
  padding: 0;
  width: 32%;
}
.button {
  border: 1px solid rgba(0, 0, 0, 0.219);
  border-radius: 3px;
  padding: 3px 10px;
}
.button:hover {
  background-color: #ff0000;
  border-color: #ff0000;
  color: #fff;
}
.f-s {
  font-size: 14px;
}
.f-w {
  font-size: 20px;
  font-weight: 600;
}